html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

    Body {
    background-color: #484d5c;
    display: flex;
    justify-content: center;
    }

    body {
    font-family: 'Cardo', serif;
    color: #c0ccd4;
    }

    h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
    margin: 0px;
    } 

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #c0ccd4;
    }

    .landingPage {
        background-color: white;
        height: 60vh;
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        /* background-image: url("assets/cyclone.jpg");
        background-repeat: no-repeat;
        background-size: cover; */

    }

    .side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
    }

    .leftSide {
        width: 57%;
        margin-left: 35px;
    }

    .wrapper {
        width: 100%;
        max-width: 1400px;
    }

   

    h1 {
        margin-right: 40px;
        font-size: 4rem;
        margin-bottom:6;
    }

    .leftSide h2 {
        margin-left: 220px;
        font-size: 2.3rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .musicVidLink {
        color: white;
        text-decoration: grey;
        text-decoration: underline;
        
    }

    .leftSide p {
        margin-left: 20px;
        margin-bottom: 15px;
        width: 74%;
        margin-top: 8px;
        text-indent: 43px;
    }

    .aboutMe {
        padding-bottom: 15px;
        line-height: 1.3rem;
    }

    .skillsHeaderFlex {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .languages p {
        font-size: 3 rem;
        width: 100%
    }

    ul {
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    .lastSkillUl{
        align-self: flex-start;
        width: 100%;
        border-top: 2px solid white;
        margin-top: 20px;
        text-align: center;
    }

    .skillsHeader {
        margin-top: 50px;
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    .languages {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .languagesContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;  
        margin-bottom: 60px;
    }

    .languages li {
        margin: 10px;
        color: white;
        font-size: 1.3rem;
    }

    /* RIGHT SIDE */


    div .rightSide {
        width: 25%;
    }

    .logo {
        display: flex;
        margin: 5px 0px;
        align-items: center;
    }

    i {
        font-size: 1.3rem;
        margin-bottom: 7px;
        margin-right: 10px;
    }

    .contact {
        margin-bottom: 70px;
    }

    .contact p {
        font-size: 1.3rem;
    }

    .projectLinksFlex {
        width: 100%;
        display: flex;
        flex-direction:  column;
    }

    .projectLinksFlex h2 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .projectLinks {
        width: 100%;
    }

    .projectLinks p {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .projectLinks a {
        margin-bottom: 5px;
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .projectLinks span {
        color: rgb(67, 175, 247);
    }

    /* PROJECT SECTION
       PROJECT SECTION
       PROJECT SECTION */

    /* SHARED STYLES */


    .projectSection section {
        width: 100%;
        border: 2px solid white;
        /* filter: brightness(0.4); */
    }

    .projectFlex {
        width: 100%;
        display: flex;
        padding-top: 3px;
        /* filter: brightness(1); */
    }

    .leftsidePFlex {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 210px;
        
    }

    
    .leftSideP {
        margin: 0px 0px 30px 30px;
        border-radius: 10px 10px 10px 10px;
        width: 50%;
        justify-content: flex-start;
        background-color: #484d5c;
        border: 2px solid grey;
        padding: 15px;
        box-shadow: 2px -2px 20px black;
    }

    .rightSideP {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 15px 30px 0px 0px;
    }

    .rightSideP a {
        padding: 0px 10px;
    }

    .rightSideLinks {
        display: flex;
        justify-content: center;
        background-color: #484d5c; 
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        border: 2px solid grey;
        box-shadow: 2px -2px 20px black;
    }

    /* .rightSideLinks:nth-child(0) {
        border-right: 1px solid white;
    } */

    .projectSection p {
        color: white;
        font-size: 1.2vw;
        line-height: 1.4rem;
    }

    .projectSection h2 {
       color: #ffce00;
       font-size: 2.6vw;
       padding-bottom: 5px;
    }

    .secondPHeading {
        padding-bottom: 10px;
    }

    .secondPHeadingRefrig {
        margin-left: 62px;
    }

    .secondPHeadingOscar {
        margin-left: 70px;
    }
    
    .secondPHeadingPokemon {
        margin-left: 130px;
    }

    .secondPHeadingBoat {
        margin-left: 80px;
    }

    .projectSection a {
        font-size: 2vw;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    /* UNIQUE STYLES */

    
    

    .refrigP {
        background-image: url('assets/refrig.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .oscarP {
        background-image: url('assets/oscar.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .PokemonP {
        background-image: url('./assets/pokemon.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -50px;
    }

    .boatRideP {
        background-image: url('assets/boat.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -220px;
    }

    .junoTechP {
        background-image: url('./assets/techTest.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }


    /* LAST SECTION AND VIDEO */
    /* LAST SECTION AND VIDEO */
    
    .musicVideo {
        width: 100%;
        background-color: black;
        padding: 40px 0px;
    }

    .videoFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .videoFlex p {
        width: 40%;
        margin-top: 20px;
    }

    /* MEDIA QUERIES */
    /* MEDIA QUERIES */
    /* MEDIA QUERIES */

    /* HEADER */

    @media (max-width: 450px) {

        body {
           
        }

        .wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            width: 100%;
        }

        .leftSide h2 {
            margin-left: 0px;
        }

        /* LEFT SIDE TOP */

        .leftSide {
            width: 100%;
            margin: 0px;
            display: flex;
            justify-self: center;

        }

        .leftSideP {
            width: 90%;
        }

        .languages {
            width: 100%;
        }

        .languagesContainer {
            align-items: center;
        }

        .skills3, .skills4 {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        li {
            text-align: center;
        }

        .skills1, .skills2 {
            width: 40%;
        }

        /* RIGHT SIDE TOP */

       div .rightSide {
            width: 100%;
        }

        .projectLinks a {
            text-align: center;
            width: 50%;
        }

        .projectLinksFlex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .projectSection a {
            font-size: 2.7vw;
        }

        /* PROJECT SECTION */
        /* PROJECT SECTION */

        .projectFlex {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .refrigP {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .leftsidePFlex, .rightSideP {
            justify-content: center;
            align-items: center;
        }

        .leftSideP {
            margin: 0px;
        }

        .leftSideP, .rightSideLinks {
            box-shadow: 10px 10px 30px black;
        }

        .rightSideP {
                margin: 15px 0px 0px 0px;
                display: flex;
                justify-content: center;
                align-content: center;
                width: 100%;
                margin-bottom: 120px;
        }

        .projectSection p {
            font-size: 3.3vw;
        }

        .projectSection h2 {
            font-size: 5.5vw;
        }

        .leftSideP {
            display: flex;
            justify-content: center;
            align-items: center; 
            flex-direction: column;
        }

        .leftsidePFlex {
            padding-top: 130px;
        }

        .projectSection section {
            border: 4px solid white;
        }



        /* HEADINGS IN PROJECT SECTION */

        .secondPHeadingRefrig {
            margin-left: 0px;
        }
    
        .secondPHeadingOscar {
            margin-left: 0px;
        }
        
        .secondPHeadingPokemon {
            margin-left: 0px;
        }
    
        .secondPHeadingBoat {
            margin-left: 0px;
        }

        .secondPHeadingTech {
           
        }

      
        /* BACKGROUND IMAGE POSITIONS IN PROJECT SECTION */

        .refrigP {
            background-image: url('assets/refrig.png');
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    
        .oscarP {
            background-image: url('assets/oscar.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .PokemonP {
            background-image: url('./assets/pokemon.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -50px;
        }
    
        .boatRideP {
            background-image: url('assets/boat.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -220px;
        }
    
        .junoTechP {
            background-image: url('./assets/techTest.png');
            background-repeat: no-repeat;
            background-size: cover;
            
        }

        /* VIDEO SECTION */
        /* VIDEO SECTION */
        /* VIDEO SECTION */

        .videoFlex P {
            width: 70%;
            text-align: center;
        }

        iframe {
            width: 80%;
        }
        

      
    }






    /* Background color: #484d5c
    Headline color: #ffce00
    Body color: #c0ccd4 */

